<h1>Edit Info for: <%= @kitty.name %></h1>

<%= link_to "Delete Kitten", @kitty, 
            data: { turbo_method: :delete, 
                    turbo_confirm: "Are you sure?" } %>
<%= link_to "Back to all kittens", kittens_path %>
<%= render 'form', kitten: @kitty %>