<h1>All kittens</h1>

<% @kittens.each do |kitten| %>
    <h2>Name: <%= kitten.name %></h2>
    <h3>age: <%= kitten.age %></h3>
    <h3>Cuteness score: <%= kitten.cuteness %></h3>
    <h3>softness score: <%= kitten.softness %></h3>
<% end %>
